@import url("/css/wf.css");

:root {

  --white1: #bfbfbf;
  --white2: #C0C0C0;
  
  --black9: #000000;
  --black7: #313131;
  --black5: #5c5b5b;
  --black3: #969696;
  
  --green1: #e0ff3bb5;
  
}
 
p {
    color: var(--white1);
}

.chat-display-card {
    box-shadow: 2px 2px 10px navajowhite;
    background: var(--black9);
    color: var(--black3);
}

.chat-input-card {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background: var(--black7);
    color: var(--white2);
}

.main-text {
    color: var(--white1);
}

.form-control {
    background-color: var(--black5);
    color: var(--white1);
}
    
h1 {
    color: var(--white2);
}
   
h2 {
    color: var(--white2);
}
 
h3 {
    color: var(--white1);
}

h4 {
    color: var(--white1);
}
 
h5 {
    color: var(--white1);
}
 
h7 {
    color: var(--white1);
}

h8 {
    color: var(--white1);
}




